#Options -Indexes

Options +FollowSymLinks
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteBase /fibra-optica/views/
#   SOLUCIONES
#   Entrada: /fibra-optica/views/Soluciones/NOMBRECURSO-ID_SOLUCION
#   Salida: /fibra-optica/views/Soluciones/index.php?id=ID_SOLUCION
RewriteRule Soluciones/(.*)-(.*)$  Soluciones/index.php?id=$1&nom=$2 [L,NC]

#   CURSOS
#   Entrada: /fibra-optica/views/Cursos/ID_CURSO-NOMBRESOLUCION
#   Salida: /fibra-optica/views/Cursos/cursos_detalle.php?id=ID_SOLUCION&nom=NOMBRECURSO
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule Cursos/([0-9]+)-(.*)$  Cursos/cursos_detalle.php?id=$1&nom=$2 [L,NC]

#   CAPACITACIONES
#   Entrada: /fibra-optica/views/Capacitaciones/ID_CURSO-NOMBRESOLUCION
#   Salida: /fibra-optica/views/Capacitaciones/capacitaciones_detalle.php?id=ID_SOLUCION&nom=NOMBRECURSO
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule Capacitaciones/([0-9]+)-(.*)$  Capacitaciones/capacitaciones_detalle.php?id=$1&nom=$2 [L,NC]